.header{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 60px;
    background-color: rgb(224, 222, 222);
    display: flex;
    justify-content: center;
    align-items: center;

}
.home{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 10px;
}
.youtube{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;

}
.main{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 66px;
    bottom: 0px;
    background-color: gray;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.text{
    font-family: Arial;
    font-weight: bold;
    font-size: 24px;
}